@import "tailwindcss";

:root {
    --gradient-bg: linear-gradient(to right, #0f172a, #312e81, #0f172a);
    --toastify-color-progress-success: linear-gradient(to right, #0f172a, #312e81, #0f172a);
}

.Toastify__progress-bar--success {
    background: #38bdf8!important;
}

@keyframes fillBar {
    from {
      width: 0%;
    }
    to {
      width: var(--target-width);
    }
  }