# Ignore node_modules for both frontend and backend
**/node_modules/

# Ignore .next folder for the frontend
frontend/.next/

# Ignore build/output folders
**/dist/
**/build/

# Ignore environment variables
.env
.env.local

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store

# Ignore logs and debug files
*.log
*.tmp
*.pid

# Ignore dependency directories
**/jspm_packages/
**/bower_components/

# Ignore TypeScript output
**/*.js
**/*.map
!frontend/public/
!backend/src/